# Django
SECRET_KEY=сгенерируйте-ключ-и-вставьте-сюда
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
LOG_LEVEL=INFO

# CORS (через запятую, без пробелов)
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# PostgreSQL
POSTGRES_DB=pmbok_db
POSTGRES_USER=pmbok_user
POSTGRES_PASSWORD=pmbok_secure_pass_123
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Celery / Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
