```
# Dependencies
node_modules/

# Build artifacts
dist/
build/
target/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.local
.env
.env.local
.env.
.python-version

# Logs
*.log

# Coverage
.coverage
coverage/
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS
.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid

# Никаких баз данных и секретов
*.sqlite3
db.sqlite3
.env

# Никаких библиотек и файлов юзеров
node_modules/
frontend/node_modules/
media/

# Ignore Django Migrations in Development if you are working on team

# Only for Development only
# **/migrations/**
# !**/migrations
# !**/migrations/__init__.py